spring:
  application:
    name: security_project1



  datasource:
    username: balo
    url: jdbc:postgresql://localhost:5432/ostock
    password: "Lanrebalo@26"
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 8080
  ssl:
    enabled: true
    key-store-type: PKCS12
    key-alias: springboot
    key-store-password: "     "   # ⚠️ put your real password here
    key-store: classpath:keystore.p12

authorization:
  key: "SD9cICjl1e"